.upload-container{
    height:calc(100vh - 5rem);
    width:100%;
    padding:3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-cont-close-btn{
    align-self: flex-end;
    padding:1rem 1.3rem;
    border:1px solid transparent;
    background-color: #1E1E1E;
    color:yellow;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.upload-cont-close-btn:hover{
    background-color: yellow;
    border:1px solid #1E1E1E;
    color:#1E1E1E;
}
.file-inp{
    display: none;
}
.custom-file{
    background-color: black;
    color:yellow !important;
    padding:1rem;
    border:1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1.4rem !important;
}
.custom-file:hover{
    background-color: white;
    color:black !important;
    border-color:black;
}