.customize-container{
    height:100%;
    width:100%;
    background-color: #1E1E1E;
    color:white;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customize-container .menu-form{
    height:70%;
}