main{
    height:calc(100vh - 5rem);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.categories{
    height:100%;
    width:12%;
    background-color: yellow;
    padding:2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.category-heading{
    font-size: 1.8rem;
    font-weight: 600;
    background-color: white;
    color: #1E1E1E;
    width:100%;
    text-align: center;
    padding:0.3rem 0;
    user-select: none;
}
.menu{
    max-width:60%;
    width:43%;
    padding:2rem 1rem;
    background-color: #1E1E1E;
}
.menu-card-container{
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-row-gap:2rem;
    justify-items: center;
    align-items: top;
    
}
.menu .category-prompt{
    color:white;
    font-size: 2.4rem;
    grid-column: span 3;
    font-weight: 600;
}
.retry-btn{
    padding:1rem 2rem;
    background-color: yellow;
    color:black;
    font-size: 1.8rem;
    border:1px solid transparent;
    margin-top: 2rem;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.retry-btn:hover{
    background-color: transparent;
    color:yellow;
    border:1px solid yellow;
}
.retry-btn:active{
    transform: translateY(2px);
}
.category-title{
    color:white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    background-color: yellow;
    color:black;
    font-weight: 600;
    padding:0 1rem;
}
.cart{
    height:100%;
    background-color: #1E1E1E;
    width:45%;
    color:white;
    font-size: 2rem;
    padding: 0 1rem;
    padding-top: 2rem;
    border-left:2px solid yellow;
    overflow: hidden;
    position: relative;
}
.cart-title{
    padding:0.5rem 0;
    border-bottom:1px solid white;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.cart-total{
    font-size: 1.8rem;
    margin-right: 0.5rem;
}
.cart-total-price{
    color:#1E1E1E;
    background-color: yellow;
    padding:0.3rem 0.5rem;
}
.cart .cart-list{
    height:70%;
    width:100%;
}
.cart .checkout-btn-container{
    width:100%;
    display: flex;
    justify-content: end;
}
.cart .checkout-btn-container .checkout-btn{
    width:90%;
    padding:1rem 2rem;
    margin-top:3rem;
    margin-right:0.5rem;
    background-color: yellow;
    border: 1px solid transparent;
    outline:none;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    margin-bottom: 100px;
}
.cart .checkout-btn-container .checkout-btn:hover{
    transform: translateY(-4px);
    color: yellow;
    background-color:transparent;
    border:1px solid yellow;
}
.cart .checkout-btn-container .checkout-btn:active{
    transform:translateY(2px);
}
.cart .cart-item{
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding:0.5rem 0;
    color:#1E1E1E;
    background-color: yellow;
    padding:1rem;
    margin:1rem 0;
}
.cart .cart-item p{
    margin: 0 0.5rem;
    
}

.cart-table{
    height:auto;
    width:100%;
    color:black;
}

.cart-row{
    background-color: yellow;
}
.cart-row-print{
    background-color: white;
}

.settings-print{
    font-size: 8px;
}
.cart-header{
    height:4rem;
    background-color: white;
    color:#1E1E1E;
    margin: 2rem 0;
}
.cart-header-print{
    border-bottom: 1ps solid black;
}
.cart-row td{
    padding:0.3rem 0.5rem;
}
.cart-sno{
    width:10%;
}
.cart-item-name{
    width:50%;
}
.cart-item-quantity{
    width:10%;
}
.cart-item-price, .cart-item-total{
    width:15%;
}
